// styles.scss
@import 'variables';
@import 'devstyles';
@import 'grid';
html { 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $bestcolor;
}

.logoContainer {


	 svg  {
		position: relative;
 	
 		left: 50%;
 		max-width: 900px;
 		max-height: 900px;
 		height: 900px;
 		width: 900px;
 	

  /* bring your own prefixes */
  		transform: translate(-50%, -50%);
		}

}

.site-navigation ul {
  background-color: transparent;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 70px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  transform: translate(-50%, -50%);
  width: 80vw;
}

.site-navigation
a {
  background: transparent;
  transition: all .5s ease;
  color: white;
  letter-spacing: 2px;
  outline: none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid;
  border-color: white;
  font-family: "amatic sc";
  border-width: 3px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 2rem;
  font-family: "amatic sc";
  font-size: 30px;
  font-weight: 700;
  flex-shrink: 1;
  margin-top: 10px;
}

.site-navigation a {
  font-color: #5A6FD8;
}
.site-navigation a:hover {
  background-color: $tacoyellow;
  color: white;
}
.site-navigation a:active {
  background-color: red;
}

footer {
	position: absolute;
  bottom: 0;
	margin-top: 200px;
    p {
			color: white;
			text-align: center;
			font-family: "Andika";

		}
}
